In [80]:
import mysql.connector as sql
import pandas as pd
import datetime
import uuid

In [81]:
def convert_date_col(date_str):
    date_str = date_str[0:16]
    try:
        return datetime.datetime.strptime(date_str, '%m/%d/%Y %H:%M').strftime('%Y-%m-%dT%H:%M')
    except:
        return datetime.datetime.strptime(date_str, '%Y-%m-%d %H:%M').strftime('%Y-%m-%dT%H:%M')

In [82]:
db_connection = sql.connect(host='localhost', database='benedict', user='root', password='artema2')

In [83]:
qry = "SELECT fin, event_date  as eventDate, "
qry = qry + "event_name AS eventName, result_val as resultValue, "
qry = qry + "result_unit AS resultUnit, event_category AS eventCategory "
qry = qry + "FROM benedict.sepsis_case_events ORDER BY fin, event_date "
# qry = qry + " LIMIT 1000;"
df = pd.read_sql(qry, con=db_connection)

In [84]:
df.head()

,fin,eventDate,eventName,resultValue,resultUnit,eventCategory
0,+/wwoxFTiWTn,12/18/2013 12:57,Pulse,72.0,BPM,vitals
1,+/wwoxFTiWTn,12/18/2013 12:57,Temperature Conversion,37.1,DegC,vitals
2,+/wwoxFTiWTn,12/18/2013 12:57,Respiratory Rate,18.0,RPM,vitals
3,+/wwoxFTiWTn,12/18/2013 12:57,Systolic BP,164.0,mmHg,vitals
4,+/wwoxFTiWTn,12/18/2013 12:57,O2 Saturation,98.0,%,vitals

In [85]:
df.shape

(1000, 6)

In [86]:
df['eventDate'] = df['eventDate'].apply(lambda x: convert_date_col(x))

In [87]:
df.head()

,fin,eventDate,eventName,resultValue,resultUnit,eventCategory
0,+/wwoxFTiWTn,2013-12-18T12:57,Pulse,72.0,BPM,vitals
1,+/wwoxFTiWTn,2013-12-18T12:57,Temperature Conversion,37.1,DegC,vitals
2,+/wwoxFTiWTn,2013-12-18T12:57,Respiratory Rate,18.0,RPM,vitals
3,+/wwoxFTiWTn,2013-12-18T12:57,Systolic BP,164.0,mmHg,vitals
4,+/wwoxFTiWTn,2013-12-18T12:57,O2 Saturation,98.0,%,vitals

In [88]:
df_pat = df['fin'].value_counts().rename_axis('fin').reset_index(name='counts')
df_pat['patientId'] = [uuid.uuid4() for _ in range(len(df_pat.index))]
df_pat.head()

            fin  counts                             patientId
0  +0sUlZTDUJij     686  ec9a9928-1900-43c7-adf5-cc8c88125b14
1  +16f+oeBrbDV     202  5ef3a9ad-a228-4503-9731-bd69fcf77198
2  +/wwoxFTiWTn     112  c7ba8b9f-4585-4a09-87d3-3a3fb4673ab0

In [89]:
df_events = pd.merge(df, df_pat, on='fin', how='inner')
df_events.head()

,fin,eventDate,eventName,resultValue,resultUnit,eventCategory,counts,patientId
0,+/wwoxFTiWTn,2013-12-18T12:57,Pulse,72.0,BPM,vitals,112,c7ba8b9f-4585-4a09-87d3-3a3fb4673ab0
1,+/wwoxFTiWTn,2013-12-18T12:57,Temperature Conversion,37.1,DegC,vitals,112,c7ba8b9f-4585-4a09-87d3-3a3fb4673ab0
2,+/wwoxFTiWTn,2013-12-18T12:57,Respiratory Rate,18.0,RPM,vitals,112,c7ba8b9f-4585-4a09-87d3-3a3fb4673ab0
3,+/wwoxFTiWTn,2013-12-18T12:57,Systolic BP,164.0,mmHg,vitals,112,c7ba8b9f-4585-4a09-87d3-3a3fb4673ab0
4,+/wwoxFTiWTn,2013-12-18T12:57,O2 Saturation,98.0,%,vitals,112,c7ba8b9f-4585-4a09-87d3-3a3fb4673ab0

In [91]:
df_events = df_events[['patientId', 'eventDate', 'eventName', 'resultValue', 'resultUnit', 'eventCategory']]

In [92]:
df_events.to_csv('sepsis_events_sorted.csv')
df_pat.to_csv('sepsis_events_patients.csv')