In [21]:
import mysql.connector as sql
import pandas as pd
import datetime

In [22]:
def convert_date_col(date_str):
    date_str = date_str[0:16]
    try:
        return datetime.datetime.strptime(date_str, '%m/%d/%Y %H:%M').strftime('%Y-%m-%dT%H:%M')
    except:
        return datetime.datetime.strptime(date_str, '%Y-%m-%d %H:%M').strftime('%Y-%m-%dT%H:%M')

In [23]:
db_connection = sql.connect(host='localhost', database='benedict', user='root', password='artema2')

In [25]:
qry = "SELECT fin AS patientId, event_date  as eventDate, "
qry = qry + "event_name AS eventName, result_val as resultValue, "
qry = qry + "result_unit AS resultUnit, event_category AS eventCategory "
qry = qry + "FROM benedict.sepsis_case_events ORDER BY fin, event_date "
# qry = qry + " LIMIT 1000;"
df = pd.read_sql(qry, con=db_connection)

In [26]:
df.head()

,patientId,eventDate,eventName,resultValue,resultUnit,eventCategory
0,+/wwoxFTiWTn,12/18/2013 12:57,Temperature Conversion,37.1,DegC,vitals
1,+/wwoxFTiWTn,12/18/2013 12:57,Respiratory Rate,18.0,RPM,vitals
2,+/wwoxFTiWTn,12/18/2013 12:57,Diastolic BP,99.0,mmHg,vitals
3,+/wwoxFTiWTn,12/18/2013 12:57,Pulse,72.0,BPM,vitals
4,+/wwoxFTiWTn,12/18/2013 12:57,Systolic BP,164.0,mmHg,vitals

In [27]:
df.shape

(6047543, 6)

In [30]:
df['eventDate'] = df['eventDate'].apply(lambda x: convert_date_col(x))

ValueError: time data '2013-12-18T12:57' does not match format '%Y-%m-%d %H:%M'

In [31]:
df.head()

,patientId,eventDate,eventName,resultValue,resultUnit,eventCategory
0,+/wwoxFTiWTn,2013-12-18T12:57,Temperature Conversion,37.1,DegC,vitals
1,+/wwoxFTiWTn,2013-12-18T12:57,Respiratory Rate,18.0,RPM,vitals
2,+/wwoxFTiWTn,2013-12-18T12:57,Diastolic BP,99.0,mmHg,vitals
3,+/wwoxFTiWTn,2013-12-18T12:57,Pulse,72.0,BPM,vitals
4,+/wwoxFTiWTn,2013-12-18T12:57,Systolic BP,164.0,mmHg,vitals

In [32]:
df.to_csv('sepsis_events_sorted.csv')