In [14]:
import mysql.connector as sql
import pandas as pd
import datetime
import uuid

In [15]:
def convert_date_col(date_str):
    date_str = date_str[0:16]
    try:
        return datetime.datetime.strptime(date_str, '%m/%d/%Y %H:%M').strftime('%Y-%m-%dT%H:%M')
    except:
        return datetime.datetime.strptime(date_str, '%Y-%m-%d %H:%M').strftime('%Y-%m-%dT%H:%M')

In [16]:
db_connection = sql.connect(host='localhost', database='benedict', user='root', password='artema2')

In [17]:
patient_list = pd.read_csv('dka_patients.csv')
patients = list(patient_list['patient_id'])
patients

['6b129580-229a-11ea-af9c-8a315723aae9',
 '6b5b905a-229a-11ea-af9c-8a315723aae9',
 '6aeaa7a0-229a-11ea-af9c-8a315723aae9',
 '6b046afa-229a-11ea-af9c-8a315723aae9',
 '6b3f03e0-229a-11ea-af9c-8a315723aae9',
 '6b1c64b6-229a-11ea-af9c-8a315723aae9',
 '6a9a6fba-229a-11ea-af9c-8a315723aae9',
 '6b4b9bfa-229a-11ea-af9c-8a315723aae9',
 '6ae30630-229a-11ea-af9c-8a315723aae9',
 '6ae48a46-229a-11ea-af9c-8a315723aae9',
 '6b0bf3ba-229a-11ea-af9c-8a315723aae9',
 '6b397dda-229a-11ea-af9c-8a315723aae9',
 '6aeaf11a-229a-11ea-af9c-8a315723aae9',
 '6b0a8dae-229a-11ea-af9c-8a315723aae9',
 '6af9d2ac-229a-11ea-af9c-8a315723aae9',
 '6ac1d58c-229a-11ea-af9c-8a315723aae9',
 '6a7d5060-229a-11ea-af9c-8a315723aae9',
 '6b59b262-229a-11ea-af9c-8a315723aae9',
 '6abb49ce-229a-11ea-af9c-8a315723aae9',
 '6aa7d3ee-229a-11ea-af9c-8a315723aae9',
 '6a8e469a-229a-11ea-af9c-8a315723aae9',
 '6b2ce26e-229a-11ea-af9c-8a315723aae9',
 '6ab85232-229a-11ea-af9c-8a315723aae9',
 '6b395be8-229a-11ea-af9c-8a315723aae9',
 '6ae4821c-229a-11ea-af9c-8a315723aae9',
 '6b350516-229a-11ea-af9c-8a315723aae9',
 '6aee2fce-229a-11ea-af9c-8a315723aae9',
 '6b3f16a0-229a-11ea-af9c-8a315723aae9',
 '6b27386e-229a-11ea-af9c-8a315723aae9',
 '6ac9c38c-229a-11ea-af9c-8a315723aae9',
 '6b4ef020-229a-11ea-af9c-8a315723aae9',
 '6a829f8e-229a-11ea-af9c-8a315723aae9',
 '6aa3bb88-229a-11ea-af9c-8a315723aae9',
 '6ae46a8e-229a-11ea-af9c-8a315723aae9',
 '6b45f88a-229a-11ea-af9c-8a315723aae9',
 '6a7752c8-229a-11ea-af9c-8a315723aae9',
 '6b5ccbd2-229a-11ea-af9c-8a315723aae9',
 '6aff5d4e-229a-11ea-af9c-8a315723aae9',
 '6a9598b4-229a-11ea-af9c-8a315723aae9',
 '6b39472a-229a-11ea-af9c-8a315723aae9',
 '6b407b94-229a-11ea-af9c-8a315723aae9',
 '6af9d748-229a-11ea-af9c-8a315723aae9',
 '6aaf7d88-229a-11ea-af9c-8a315723aae9',
 '6ae3e7da-229a-11ea-af9c-8a315723aae9',
 '6b446c4a-229a-11ea-af9c-8a315723aae9',
 '6afa3d64-229a-11ea-af9c-8a315723aae9',
 '6a7b3e24-229a-11ea-af9c-8a315723aae9',
 '6b25c1be-229a-11ea-af9c-8a315723aae9',
 '6af4b7d6-229a-11ea-af9c-8a315723aae9',
 '6b279048-229a-11ea-af9c-8a315723aae9',
 '6b533a0e-229a-11ea-af9c-8a315723aae9',
 '6b00717a-229a-11ea-af9c-8a315723aae9',
 '6b115dd2-229a-11ea-af9c-8a315723aae9',
 '6ad17276-229a-11ea-af9c-8a315723aae9',
 '6aae6e48-229a-11ea-af9c-8a315723aae9',
 '6ab1ea46-229a-11ea-af9c-8a315723aae9',
 '6ac5efe6-229a-11ea-af9c-8a315723aae9',
 '6b43b03e-229a-11ea-af9c-8a315723aae9',
 '6b51f4fa-229a-11ea-af9c-8a315723aae9',
 '6b291c92-229a-11ea-af9c-8a315723aae9',
 '6b340d50-229a-11ea-af9c-8a315723aae9',
 '6a8222f2-229a-11ea-af9c-8a315723aae9',
 '6a72beb6-229a-11ea-af9c-8a315723aae9',
 '6b44719a-229a-11ea-af9c-8a315723aae9',
 '6aec81b0-229a-11ea-af9c-8a315723aae9',
 '6b5f425e-229a-11ea-af9c-8a315723aae9',
 '6b128874-229a-11ea-af9c-8a315723aae9',
 '6afc897a-229a-11ea-af9c-8a315723aae9',
 '6ac95f6e-229a-11ea-af9c-8a315723aae9',
 '6b47f7b6-229a-11ea-af9c-8a315723aae9',
 '6b5994da-229a-11ea-af9c-8a315723aae9',
 '6b1ec0ee-229a-11ea-af9c-8a315723aae9',
 '6a68b31c-229a-11ea-af9c-8a315723aae9',
 '6a7425e4-229a-11ea-af9c-8a315723aae9',
 '6b2d4f74-229a-11ea-af9c-8a315723aae9',
 '6ae3d07e-229a-11ea-af9c-8a315723aae9',
 '6b10ed2a-229a-11ea-af9c-8a315723aae9',
 '6b095c7c-229a-11ea-af9c-8a315723aae9',
 '6ae73eb2-229a-11ea-af9c-8a315723aae9',
 '6ae0a1d8-229a-11ea-af9c-8a315723aae9',
 '6addd6c4-229a-11ea-af9c-8a315723aae9',
 '6ad17492-229a-11ea-af9c-8a315723aae9',
 '6a7f4514-229a-11ea-af9c-8a315723aae9',
 '6aae0d40-229a-11ea-af9c-8a315723aae9',
 '6a753470-229a-11ea-af9c-8a315723aae9',
 '6a6d9260-229a-11ea-af9c-8a315723aae9',
 '6b1bd2c6-229a-11ea-af9c-8a315723aae9',
 '6b242764-229a-11ea-af9c-8a315723aae9',
 '6a7d0cf4-229a-11ea-af9c-8a315723aae9',
 '6aa8d21c-229a-11ea-af9c-8a315723aae9',
 '6b3b6eb0-229a-11ea-af9c-8a315723aae9',
 '6af12986-229a-11ea-af9c-8a315723aae9',
 '6a7fe456-229a-11ea-af9c-8a315723aae9',
 '6ac013e6-229a-11ea-af9c-8a315723aae9',
 '6b044a66-229a-11ea-af9c-8a315723aae9',
 '6b4581b6-229a-11ea-af9c-8a315723aae9',
 '6a6c459a-229a-11ea-af9c-8a315723aae9',
 '6b3421f0-229a-11ea-af9c-8a315723aae9',
 '6ac1583c-229a-11ea-af9c-8a315723aae9',
 '6b19debc-229a-11ea-af9c-8a315723aae9']

In [18]:
qry = "SELECT uuid() AS eventId, patient_id AS patientId, event_date  as eventDate, event_name AS eventName, result_val as resultValue, result_unit AS resultUnit, event_category AS eventCategory "
qry = qry + "FROM benedict.dka_case_events e JOIN benedict.dka_patients p ON e.fin = p.fin "
qry = qry + "WHERE patient_id IN (" + str(patients).replace('[', '').replace(']', '') + ") "
qry = qry + " ORDER BY patient_id, eventDate "
#qry = qry + "LIMIT 1000;"

print(qry)

SELECT uuid() AS eventId, patient_id AS patientId, event_date  as eventDate, event_name AS eventName, result_val as resultValue, result_unit AS resultUnit, event_category AS eventCategory FROM benedict.dka_case_events e JOIN benedict.dka_patients p ON e.fin = p.fin WHERE patient_id IN ('6b129580-229a-11ea-af9c-8a315723aae9', '6b5b905a-229a-11ea-af9c-8a315723aae9', '6aeaa7a0-229a-11ea-af9c-8a315723aae9', '6b046afa-229a-11ea-af9c-8a315723aae9', '6b3f03e0-229a-11ea-af9c-8a315723aae9', '6b1c64b6-229a-11ea-af9c-8a315723aae9', '6a9a6fba-229a-11ea-af9c-8a315723aae9', '6b4b9bfa-229a-11ea-af9c-8a315723aae9', '6ae30630-229a-11ea-af9c-8a315723aae9', '6ae48a46-229a-11ea-af9c-8a315723aae9', '6b0bf3ba-229a-11ea-af9c-8a315723aae9', '6b397dda-229a-11ea-af9c-8a315723aae9', '6aeaf11a-229a-11ea-af9c-8a315723aae9', '6b0a8dae-229a-11ea-af9c-8a315723aae9', '6af9d2ac-229a-11ea-af9c-8a315723aae9', '6ac1d58c-229a-11ea-af9c-8a315723aae9', '6a7d5060-229a-11ea-af9c-8a315723aae9', '6b59b262-229a-11ea-af9c-8a315723aae9', '6abb49ce-229a-11ea-af9c-8a315723aae9', '6aa7d3ee-229a-11ea-af9c-8a315723aae9', '6a8e469a-229a-11ea-af9c-8a315723aae9', '6b2ce26e-229a-11ea-af9c-8a315723aae9', '6ab85232-229a-11ea-af9c-8a315723aae9', '6b395be8-229a-11ea-af9c-8a315723aae9', '6ae4821c-229a-11ea-af9c-8a315723aae9', '6b350516-229a-11ea-af9c-8a315723aae9', '6aee2fce-229a-11ea-af9c-8a315723aae9', '6b3f16a0-229a-11ea-af9c-8a315723aae9', '6b27386e-229a-11ea-af9c-8a315723aae9', '6ac9c38c-229a-11ea-af9c-8a315723aae9', '6b4ef020-229a-11ea-af9c-8a315723aae9', '6a829f8e-229a-11ea-af9c-8a315723aae9', '6aa3bb88-229a-11ea-af9c-8a315723aae9', '6ae46a8e-229a-11ea-af9c-8a315723aae9', '6b45f88a-229a-11ea-af9c-8a315723aae9', '6a7752c8-229a-11ea-af9c-8a315723aae9', '6b5ccbd2-229a-11ea-af9c-8a315723aae9', '6aff5d4e-229a-11ea-af9c-8a315723aae9', '6a9598b4-229a-11ea-af9c-8a315723aae9', '6b39472a-229a-11ea-af9c-8a315723aae9', '6b407b94-229a-11ea-af9c-8a315723aae9', '6af9d748-229a-11ea-af9c-8a315723aae9', '6aaf7d88-229a-11ea-af9c-8a315723aae9', '6ae3e7da-229a-11ea-af9c-8a315723aae9', '6b446c4a-229a-11ea-af9c-8a315723aae9', '6afa3d64-229a-11ea-af9c-8a315723aae9', '6a7b3e24-229a-11ea-af9c-8a315723aae9', '6b25c1be-229a-11ea-af9c-8a315723aae9', '6af4b7d6-229a-11ea-af9c-8a315723aae9', '6b279048-229a-11ea-af9c-8a315723aae9', '6b533a0e-229a-11ea-af9c-8a315723aae9', '6b00717a-229a-11ea-af9c-8a315723aae9', '6b115dd2-229a-11ea-af9c-8a315723aae9', '6ad17276-229a-11ea-af9c-8a315723aae9', '6aae6e48-229a-11ea-af9c-8a315723aae9', '6ab1ea46-229a-11ea-af9c-8a315723aae9', '6ac5efe6-229a-11ea-af9c-8a315723aae9', '6b43b03e-229a-11ea-af9c-8a315723aae9', '6b51f4fa-229a-11ea-af9c-8a315723aae9', '6b291c92-229a-11ea-af9c-8a315723aae9', '6b340d50-229a-11ea-af9c-8a315723aae9', '6a8222f2-229a-11ea-af9c-8a315723aae9', '6a72beb6-229a-11ea-af9c-8a315723aae9', '6b44719a-229a-11ea-af9c-8a315723aae9', '6aec81b0-229a-11ea-af9c-8a315723aae9', '6b5f425e-229a-11ea-af9c-8a315723aae9', '6b128874-229a-11ea-af9c-8a315723aae9', '6afc897a-229a-11ea-af9c-8a315723aae9', '6ac95f6e-229a-11ea-af9c-8a315723aae9', '6b47f7b6-229a-11ea-af9c-8a315723aae9', '6b5994da-229a-11ea-af9c-8a315723aae9', '6b1ec0ee-229a-11ea-af9c-8a315723aae9', '6a68b31c-229a-11ea-af9c-8a315723aae9', '6a7425e4-229a-11ea-af9c-8a315723aae9', '6b2d4f74-229a-11ea-af9c-8a315723aae9', '6ae3d07e-229a-11ea-af9c-8a315723aae9', '6b10ed2a-229a-11ea-af9c-8a315723aae9', '6b095c7c-229a-11ea-af9c-8a315723aae9', '6ae73eb2-229a-11ea-af9c-8a315723aae9', '6ae0a1d8-229a-11ea-af9c-8a315723aae9', '6addd6c4-229a-11ea-af9c-8a315723aae9', '6ad17492-229a-11ea-af9c-8a315723aae9', '6a7f4514-229a-11ea-af9c-8a315723aae9', '6aae0d40-229a-11ea-af9c-8a315723aae9', '6a753470-229a-11ea-af9c-8a315723aae9', '6a6d9260-229a-11ea-af9c-8a315723aae9', '6b1bd2c6-229a-11ea-af9c-8a315723aae9', '6b242764-229a-11ea-af9c-8a315723aae9', '6a7d0cf4-229a-11ea-af9c-8a315723aae9', '6aa8d21c-229a-11ea-af9c-8a315723aae9', '6b3b6eb0-229a-11ea-af9c-8a315723aae9', '6af12986-229a-11ea-af9c-8a315723aae9', '6a7fe456-229a-11ea-af9c-8a315723aae9', '6ac013e6-229a-11ea-af9c-8a315723aae9', '6b044a66-229a-11ea-af9c-8a315723aae9', '6b4581b6-229a-11ea-af9c-8a315723aae9', '6a6c459a-229a-11ea-af9c-8a315723aae9', '6b3421f0-229a-11ea-af9c-8a315723aae9', '6ac1583c-229a-11ea-af9c-8a315723aae9', '6b19debc-229a-11ea-af9c-8a315723aae9')  ORDER BY patient_id, eventDate

In [19]:
df = pd.read_sql(qry, con=db_connection)

In [20]:
df.shape

(78349, 7)

In [21]:
df.head()

,eventId,patientId,eventDate,eventName,resultValue,resultUnit,eventCategory
0,85336a28-22a6-11ea-af9c-8a315723aae9,6a68b31c-229a-11ea-af9c-8a315723aae9,2014-06-01 14:26:00,Systolic BP,180.0,mmHg,vitals
1,85336a8c-22a6-11ea-af9c-8a315723aae9,6a68b31c-229a-11ea-af9c-8a315723aae9,2014-06-01 14:26:00,Diastolic BP,85.0,mmHg,vitals
2,85336a96-22a6-11ea-af9c-8a315723aae9,6a68b31c-229a-11ea-af9c-8a315723aae9,2014-06-01 14:26:00,Pulse,81.0,BPM,vitals
3,85336aaa-22a6-11ea-af9c-8a315723aae9,6a68b31c-229a-11ea-af9c-8a315723aae9,2014-06-01 14:26:00,Respiratory Rate,18.0,RPM,vitals
4,85336ab4-22a6-11ea-af9c-8a315723aae9,6a68b31c-229a-11ea-af9c-8a315723aae9,2014-06-01 14:26:00,Diastolic BP,85.0,mmHg,vitals

In [22]:
df.shape

(78349, 7)

In [23]:
#df['eventDate']

In [24]:
#df['eventDate'] = df['eventDate'].apply(lambda x: convert_date_col(x))

In [25]:
df_pat = df['patientId'].value_counts().rename_axis('patientId').reset_index(name='counts')
#df_pat['patientId'] = [uuid.uuid4() for _ in range(len(df_pat.index))]
df_pat.head()

                              patientId  counts
0  6af12986-229a-11ea-af9c-8a315723aae9    4298
1  6a7b3e24-229a-11ea-af9c-8a315723aae9    4055
2  6b2d4f74-229a-11ea-af9c-8a315723aae9    3604
3  6b3b6eb0-229a-11ea-af9c-8a315723aae9    3062
4  6ab1ea46-229a-11ea-af9c-8a315723aae9    3048

In [26]:
df_pat.shape

(100, 2)

In [27]:
df.to_csv('dka_events_sorted.csv')
df_pat.to_csv('dka_events_patients.csv')

In [28]:
events = []
prev_event_id = ''
prev_pat_id = ''

for idx, row in df.iterrows():
    if prev_pat_id == row['patientId']:
        cur_event = [prev_event_id, row['eventId'], row['patientId']]
        events.append(cur_event)
    
    prev_event_id = row['eventId']
    prev_pat_id = row['patientId']
    
df_linked_events = pd.DataFrame(events)
df_linked_events.columns = ['prevEventId', 'eventId', 'patientId']
df_linked_events.head()

,prevEventId,eventId,patientId
0,85336a28-22a6-11ea-af9c-8a315723aae9,85336a8c-22a6-11ea-af9c-8a315723aae9,6a68b31c-229a-11ea-af9c-8a315723aae9
1,85336a8c-22a6-11ea-af9c-8a315723aae9,85336a96-22a6-11ea-af9c-8a315723aae9,6a68b31c-229a-11ea-af9c-8a315723aae9
2,85336a96-22a6-11ea-af9c-8a315723aae9,85336aaa-22a6-11ea-af9c-8a315723aae9,6a68b31c-229a-11ea-af9c-8a315723aae9
3,85336aaa-22a6-11ea-af9c-8a315723aae9,85336ab4-22a6-11ea-af9c-8a315723aae9,6a68b31c-229a-11ea-af9c-8a315723aae9
4,85336ab4-22a6-11ea-af9c-8a315723aae9,85336abe-22a6-11ea-af9c-8a315723aae9,6a68b31c-229a-11ea-af9c-8a315723aae9

In [29]:
df_linked_events.to_csv('dka_linked_events.csv')