In [15]:
import mysql.connector as sql
import pandas as pd
import datetime
import uuid

In [16]:
def convert_date_col(date_str):
    date_str = date_str[0:16]
    try:
        return datetime.datetime.strptime(date_str, '%m/%d/%Y %H:%M').strftime('%Y-%m-%dT%H:%M')
    except:
        return datetime.datetime.strptime(date_str, '%Y-%m-%d %H:%M').strftime('%Y-%m-%dT%H:%M')

In [17]:
db_connection = sql.connect(host='localhost', database='benedict', user='root', password='artema2')

In [18]:
qry = "SELECT eventId, patientId, event_date  as eventDate, event_name AS eventName, result_val as resultValue, result_unit AS resultUnit, event_category AS eventCategory "
qry = qry + "FROM benedict.sepsis_case_events e JOIN benedict.sepsis_case_patients p ON e.fin = p.fin "
qry = qry + "ORDER BY patientId, eventDate "
#qry = qry + "LIMIT 1000;"


df = pd.read_sql(qry, con=db_connection)

In [19]:
df.head()

,eventId,patientId,eventDate,eventName,resultValue,resultUnit,eventCategory
0,cd4d6094-57b7-11e9-99cb-e51ddd026e24,02298368-57b5-11e9-ad52-30582bd09167,12/18/2013 12:57,Diastolic BP,99.0,mmHg,vitals
1,dc98c872-57b7-11e9-99cb-e51ddd026e24,02298368-57b5-11e9-ad52-30582bd09167,12/18/2013 12:57,O2 Saturation,98.0,%,vitals
2,ea8ef398-57b7-11e9-99cb-e51ddd026e24,02298368-57b5-11e9-ad52-30582bd09167,12/18/2013 12:57,Pulse,72.0,BPM,vitals
3,f877962c-57b7-11e9-99cb-e51ddd026e24,02298368-57b5-11e9-ad52-30582bd09167,12/18/2013 12:57,Respiratory Rate,18.0,RPM,vitals
4,026b509c-57b8-11e9-99cb-e51ddd026e24,02298368-57b5-11e9-ad52-30582bd09167,12/18/2013 12:57,Systolic BP,164.0,mmHg,vitals

In [20]:
df.shape

(6047543, 7)

In [21]:
df['eventDate'] = df['eventDate'].apply(lambda x: convert_date_col(x))

In [22]:
df.head()

,eventId,patientId,eventDate,eventName,resultValue,resultUnit,eventCategory
0,cd4d6094-57b7-11e9-99cb-e51ddd026e24,02298368-57b5-11e9-ad52-30582bd09167,2013-12-18T12:57,Diastolic BP,99.0,mmHg,vitals
1,dc98c872-57b7-11e9-99cb-e51ddd026e24,02298368-57b5-11e9-ad52-30582bd09167,2013-12-18T12:57,O2 Saturation,98.0,%,vitals
2,ea8ef398-57b7-11e9-99cb-e51ddd026e24,02298368-57b5-11e9-ad52-30582bd09167,2013-12-18T12:57,Pulse,72.0,BPM,vitals
3,f877962c-57b7-11e9-99cb-e51ddd026e24,02298368-57b5-11e9-ad52-30582bd09167,2013-12-18T12:57,Respiratory Rate,18.0,RPM,vitals
4,026b509c-57b8-11e9-99cb-e51ddd026e24,02298368-57b5-11e9-ad52-30582bd09167,2013-12-18T12:57,Systolic BP,164.0,mmHg,vitals

In [25]:
df.isnull().sum()

eventId          0
patientId        0
eventDate        0
eventName        0
resultValue      0
resultUnit       0
eventCategory    0
dtype: int64

In [23]:
df_pat = df['patientId'].value_counts().rename_axis('patientId').reset_index(name='counts')
#df_pat['patientId'] = [uuid.uuid4() for _ in range(len(df_pat.index))]
df_pat.head()

                              patientId  counts
0  022a0c84-57b5-11e9-ad52-30582bd09167   22060
1  022c4b70-57b5-11e9-ad52-30582bd09167   20587
2  022a7ad4-57b5-11e9-ad52-30582bd09167   19497
3  022a1ff8-57b5-11e9-ad52-30582bd09167   19245
4  022c172c-57b5-11e9-ad52-30582bd09167   19172

In [24]:
df.to_csv('sepsis_events_sorted.csv')
df_pat.to_csv('sepsis_events_patients.csv')

In [26]:
df.head()

,eventId,patientId,eventDate,eventName,resultValue,resultUnit,eventCategory
0,cd4d6094-57b7-11e9-99cb-e51ddd026e24,02298368-57b5-11e9-ad52-30582bd09167,2013-12-18T12:57,Diastolic BP,99.0,mmHg,vitals
1,dc98c872-57b7-11e9-99cb-e51ddd026e24,02298368-57b5-11e9-ad52-30582bd09167,2013-12-18T12:57,O2 Saturation,98.0,%,vitals
2,ea8ef398-57b7-11e9-99cb-e51ddd026e24,02298368-57b5-11e9-ad52-30582bd09167,2013-12-18T12:57,Pulse,72.0,BPM,vitals
3,f877962c-57b7-11e9-99cb-e51ddd026e24,02298368-57b5-11e9-ad52-30582bd09167,2013-12-18T12:57,Respiratory Rate,18.0,RPM,vitals
4,026b509c-57b8-11e9-99cb-e51ddd026e24,02298368-57b5-11e9-ad52-30582bd09167,2013-12-18T12:57,Systolic BP,164.0,mmHg,vitals