In [1]:
import mysql.connector as sql
import pandas as pd

from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

In [2]:
db_connection = sql.connect(host='localhost', database='benedict', user='root', password='artema2')

In [3]:
df = pd.read_sql('SELECT * FROM sepsis_case_events;', con=db_connection)

In [4]:
df.head()

,fin,event_date,event_name,result_val,result_unit,event_category,route
0,ZcCVvgGl2L0T,05/14/2014 05:56,Diastolic BP,87.0,mmHg,vitals,
1,ZcCVvgGl2L0T,05/14/2014 07:08,Diastolic BP,67.0,mmHg,vitals,
2,ZcCVvgGl2L0T,05/14/2014 09:11,Diastolic BP,64.0,mmHg,vitals,
3,ZcCVvgGl2L0T,05/14/2014 09:44,Diastolic BP,78.0,mmHg,vitals,
4,ZcCVvgGl2L0T,05/14/2014 10:25,Diastolic BP,62.0,mmHg,vitals,

In [5]:
df['event_name'].value_counts()

O2 Saturation                933498
Pulse                        908968
Respiratory Rate             787765
Systolic BP                  665662
Diastolic BP                 664535
Temperature Conversion       227040
Epinephrine                  213577
Temperature Metric           212008
Norepinephrine               194485
Normal Saline                 92634
Sodium                        74657
Anion Gap                     73892
Potassium                     72892
CO2                           72681
Chloride                      72622
Creatinine                    71344
BUN                           71336
Glucose                       66896
Vasopressin                   55311
D5W                           53321
Magnesium                     52351
Phosphate                     46905
Phenylephrine                 38852
Piperacillin-Tazobactam       38389
Vancomycin                    35335
D5 Half Saline                33587
Lactate                       25617
Bilirubin                     25599
Lactated Ringers              25532
Albumin                       24740
PaCO2                         24007
Blood Gas pHa                 22611
Metronidazole                 22275
D10                           17761
Meropenem                     12587
PO2                            4125
PCO2 Arterial                  3924
Normal saline (for bolus)      3517
Half Saline                    3447
Levofloxacin                    481
Plasmalyte A (for bolus)        472
PCO2 Venous                     305
Name: event_name, dtype: int64

In [6]:
# Drop 'Temperature Metric'

df = df.query("event_name != 'Temperature Metric'")

In [7]:
# Normal value ranges
df['result_val_category'] = ''
# O2 Saturation 
df.loc[(df['event_name'] == 'O2 Saturation') & (df['result_val'] >= 96), 'result_val_category'] = 'normal'
df.loc[(df['event_name'] == 'O2 Saturation') & (df['result_val'] < 96), 'result_val_category'] = 'low'
# Pulse (60 to 100 bpm)
df.loc[(df['event_name'] == 'Pulse') & (df['result_val'] < 60), 'result_val_category'] = 'low'
df.loc[(df['event_name'] == 'Pulse') & (df['result_val'] >= 60) & (df['result_val'] <=100), 'result_val_category'] = 'normal'
df.loc[(df['event_name'] == 'Pulse') & (df['result_val'] > 100), 'result_val_category'] = 'high'


# Respiratory Rate (12 to 25)
df.loc[(df['event_name'] == 'Respiratory Rate') & (df['result_val'] < 12), 'result_val_category'] = 'low'
df.loc[(df['event_name'] == 'Respiratory Rate') & (df['result_val'] >= 12) & (df['result_val'] <=25), 'result_val_category'] = 'normal'
df.loc[(df['event_name'] == 'Respiratory Rate') & (df['result_val'] > 25), 'result_val_category'] = 'high'


# Systolic BP 
df.loc[(df['event_name'] == 'Systolic BP') & (df['result_val'] < 90), 'result_val_category'] = 'low'
df.loc[(df['event_name'] == 'Systolic BP') & (df['result_val'] >= 90) & (df['result_val'] <=120), 'result_val_category'] = 'normal'
df.loc[(df['event_name'] == 'Systolic BP') & (df['result_val'] >= 121) & (df['result_val'] <=140), 'result_val_category'] = 'prehypertension'
df.loc[(df['event_name'] == 'Systolic BP') & (df['result_val'] > 140), 'result_val_category'] = 'hypertension'


# Diastolic BP                 
df.loc[(df['event_name'] == 'Diastolic BP') & (df['result_val'] < 60), 'result_val_category'] = 'low'
df.loc[(df['event_name'] == 'Diastolic BP') & (df['result_val'] >= 60) & (df['result_val'] <=80), 'result_val_category'] = 'normal'
df.loc[(df['event_name'] == 'Diastolic BP') & (df['result_val'] >= 81) & (df['result_val'] <=90), 'result_val_category'] = 'prehypertension'
df.loc[(df['event_name'] == 'Diastolic BP') & (df['result_val'] > 90), 'result_val_category'] = 'hypertension'


# Temperature Conversion    
df.loc[(df['event_name'] == 'Temperature Conversion') & (df['result_val'] <= 37), 'result_val_category'] = 'normal'
df.loc[(df['event_name'] == 'Temperature Conversion') & (df['result_val'] > 37) & (df['result_val'] <=38), 'result_val_category'] = 'elevated'
df.loc[(df['event_name'] == 'Temperature Conversion') & (df['result_val'] > 38), 'result_val_category'] = 'high'

# Sodium (135 to 145)
df.loc[(df['event_name'] == 'Sodium') & (df['result_val'] < 135), 'result_val_category'] = 'low'
df.loc[(df['event_name'] == 'Sodium') & (df['result_val'] >= 135) & (df['result_val'] <=145), 'result_val_category'] = 'normal'
df.loc[(df['event_name'] == 'Sodium') & (df['result_val'] > 145), 'result_val_category'] = 'high'

# Anion Gap (8-16)
df.loc[(df['event_name'] == 'Anion Gap') & (df['result_val'] < 8), 'result_val_category'] = 'low'
df.loc[(df['event_name'] == 'Anion Gap') & (df['result_val'] >= 8) & (df['result_val'] <=16), 'result_val_category'] = 'normal'
df.loc[(df['event_name'] == 'Anion Gap') & (df['result_val'] > 16), 'result_val_category'] = 'high'

# Potassium (3.5-5.0)
df.loc[(df['event_name'] == 'Potassium') & (df['result_val'] < 3.5), 'result_val_category'] = 'low'
df.loc[(df['event_name'] == 'Potassium') & (df['result_val'] >= 3.5) & (df['result_val'] <=5.0), 'result_val_category'] = 'normal'
df.loc[(df['event_name'] == 'Potassium') & (df['result_val'] >= 5.1) & (df['result_val'] <=6.0), 'result_val_category'] = 'mild hyperkalemia'
df.loc[(df['event_name'] == 'Potassium') & (df['result_val'] >= 6.1) & (df['result_val'] <=7.0), 'result_val_category'] = 'moderate hyperkalemia'
df.loc[(df['event_name'] == 'Potassium') & (df['result_val'] > 7), 'result_val_category'] = 'severe hyperkalemia'

# CO2 (23 to 29)
df.loc[(df['event_name'] == 'CO2') & (df['result_val'] < 23), 'result_val_category'] = 'low'
df.loc[(df['event_name'] == 'CO2') & (df['result_val'] >= 23) & (df['result_val'] <=29), 'result_val_category'] = 'normal'
df.loc[(df['event_name'] == 'CO2') & (df['result_val'] > 29), 'result_val_category'] = 'high'


# Chloride (96 and 106)
df.loc[(df['event_name'] == 'Chloride') & (df['result_val'] < 96), 'result_val_category'] = 'low'
df.loc[(df['event_name'] == 'Chloride') & (df['result_val'] >= 96) & (df['result_val'] <=106), 'result_val_category'] = 'normal'
df.loc[(df['event_name'] == 'Chloride') & (df['result_val'] > 106), 'result_val_category'] = 'high'

# Creatinine (0.6 to 1.2)
df.loc[(df['event_name'] == 'Creatinine') & (df['result_val'] < 0.6), 'result_val_category'] = 'low'
df.loc[(df['event_name'] == 'Creatinine') & (df['result_val'] >= 0.6) & (df['result_val'] <=1.2), 'result_val_category'] = 'normal'
df.loc[(df['event_name'] == 'Creatinine') & (df['result_val'] > 1.2), 'result_val_category'] = 'high'

# BUN (7 to 20)
df.loc[(df['event_name'] == 'BUN') & (df['result_val'] < 7), 'result_val_category'] = 'low'
df.loc[(df['event_name'] == 'BUN') & (df['result_val'] >= 7) & (df['result_val'] <=20), 'result_val_category'] = 'normal'
df.loc[(df['event_name'] == 'BUN') & (df['result_val'] > 20), 'result_val_category'] = 'high'

# Glucose ( < 100 mg/dL = normal. 100 to 125 = pre-diabetes)
df.loc[(df['event_name'] == 'Glucose') & (df['result_val'] < 100), 'result_val_category'] = 'normal'
df.loc[(df['event_name'] == 'Glucose') & (df['result_val'] >= 100) & (df['result_val'] <=125), 'result_val_category'] = 'prediabetes'
df.loc[(df['event_name'] == 'Glucose') & (df['result_val'] > 125), 'result_val_category'] = 'diabetes'

In [8]:
# Medications

# Epinephrine                  
df.loc[(df['event_name'] == 'Epinephrine'), 'result_val_category'] = 'Y'
# Norepinephrine
df.loc[(df['event_name'] == 'Norepinephrine'), 'result_val_category'] = 'Y'
# Normal Saline                 
df.loc[(df['event_name'] == 'Normal Saline'), 'result_val_category'] = 'Y'
# Vasopressin                   
df.loc[(df['event_name'] == 'Normal Saline'), 'result_val_category'] = 'Y'
# D5W                           
df.loc[(df['event_name'] == 'Normal Saline'), 'result_val_category'] = 'Y'
# Phenylephrine                 
df.loc[(df['event_name'] == 'Normal Saline'), 'result_val_category'] = 'Y'
# Piperacillin-Tazobactam       
df.loc[(df['event_name'] == 'Normal Saline'), 'result_val_category'] = 'Y'
# Vancomycin                    
df.loc[(df['event_name'] == 'Normal Saline'), 'result_val_category'] = 'Y'
# D5 Half Saline                
df.loc[(df['event_name'] == 'Normal Saline'), 'result_val_category'] = 'Y'
# Lactate                       
df.loc[(df['event_name'] == 'Normal Saline'), 'result_val_category'] = 'Y'
# Lactated Ringers              
df.loc[(df['event_name'] == 'Normal Saline'), 'result_val_category'] = 'Y'
# Metronidazole                 
df.loc[(df['event_name'] == 'Normal Saline'), 'result_val_category'] = 'Y'
# D10                           
df.loc[(df['event_name'] == 'Normal Saline'), 'result_val_category'] = 'Y'
# Meropenem                     
df.loc[(df['event_name'] == 'Normal Saline'), 'result_val_category'] = 'Y'
# Normal saline (for bolus)      
df.loc[(df['event_name'] == 'Normal Saline'), 'result_val_category'] = 'Y'
# Half Saline                    
df.loc[(df['event_name'] == 'Normal Saline'), 'result_val_category'] = 'Y'
# Levofloxacin                    
df.loc[(df['event_name'] == 'Normal Saline'), 'result_val_category'] = 'Y'
# Plasmalyte A (for bolus)        
df.loc[(df['event_name'] == 'Normal Saline'), 'result_val_category'] = 'Y'

In [9]:


# Glucose ( < 100 mg/dL = normal. 100 to 125 = pre-diabetes)
df.loc[(df['event_name'] == 'Glucose') & (df['result_val'] < 100), 'result_val_category'] = 'normal'
df.loc[(df['event_name'] == 'Glucose') & (df['result_val'] >= 100) & (df['result_val'] <=125), 'result_val_category'] = 'prediabetes'
df.loc[(df['event_name'] == 'Glucose') & (df['result_val'] > 125), 'result_val_category'] = 'diabetes'

df.query("event_name == 'Glucose'")



#                        66896
# Magnesium                     52351
# Phosphate                     46905
# Bilirubin                     25599

# Albumin                       24740
# PaCO2                         24007
# Blood Gas pHa                 22611

# PO2                            4125
# PCO2 Arterial                  3924
# PCO2 Venous                     305

,fin,event_date,event_name,result_val,result_unit,event_category,route,result_val_category
4327172,ZcCVvgGl2L0T,05/14/2014 06:25,Glucose,199.0,mg/dL,labs,,diabetes
4327173,ZcCVvgGl2L0T,05/15/2014 04:41,Glucose,81.0,mg/dL,labs,,normal
4327174,ZcCVvgGl2L0T,05/16/2014 17:28,Glucose,84.0,mg/dL,labs,,normal
4327175,ZcCVvgGl2L0T,05/17/2014 04:28,Glucose,115.0,mg/dL,labs,,prediabetes
4327176,ZcCVvgGl2L0T,05/18/2014 04:13,Glucose,146.0,mg/dL,labs,,diabetes
4327177,ZcCVvgGl2L0T,05/19/2014 04:46,Glucose,108.0,mg/dL,labs,,prediabetes
4327178,TXVDMboxsAIp,06/18/2014 15:18,Glucose,113.0,mg/dL,labs,,prediabetes
4327179,TXVDMboxsAIp,06/21/2014 03:42,Glucose,49.0,mg/dL,labs,,normal
4327180,TXVDMboxsAIp,06/21/2014 05:50,Glucose,75.0,mg/dL,labs,,normal
4327181,TXVDMboxsAIp,06/24/2014 04:09,Glucose,133.0,mg/dL,labs,,diabetes
4327182,2/axU/lp71TV,09/10/2013 12:23,Glucose,98.0,mg/dL,labs,,normal
4327183,2/axU/lp71TV,09/11/2013 07:00,Glucose,86.0,mg/dL,labs,,normal
4327184,2/axU/lp71TV,09/12/2013 07:14,Glucose,77.0,mg/dL,labs,,normal
4327185,E4XRpCMLMmff,09/21/2013 14:25,Glucose,88.0,mg/dL,labs,,normal
4327186,E4XRpCMLMmff,09/21/2013 15:49,Glucose,91.0,mg/dL,labs,,normal
4327187,E4XRpCMLMmff,09/22/2013 02:55,Glucose,85.0,mg/dL,labs,,normal
4327188,E4XRpCMLMmff,09/23/2013 02:43,Glucose,85.0,mg/dL,labs,,normal
4327189,E4XRpCMLMmff,09/24/2013 02:49,Glucose,122.0,mg/dL,labs,,prediabetes
4327190,E4XRpCMLMmff,09/25/2013 02:09,Glucose,112.0,mg/dL,labs,,prediabetes
4327191,2B5cvf9qQMzS,12/10/2013 23:15,Glucose,144.0,mg/dL,labs,,diabetes
4327192,2B5cvf9qQMzS,12/11/2013 04:28,Glucose,118.0,mg/dL,labs,,prediabetes
4327193,2B5cvf9qQMzS,12/12/2013 03:46,Glucose,128.0,mg/dL,labs,,diabetes
4327194,2B5cvf9qQMzS,12/13/2013 04:06,Glucose,84.0,mg/dL,labs,,normal
4327195,2B5cvf9qQMzS,12/14/2013 04:10,Glucose,77.0,mg/dL,labs,,normal
4327196,2B5cvf9qQMzS,12/15/2013 04:01,Glucose,127.0,mg/dL,labs,,diabetes
4327197,2B5cvf9qQMzS,12/16/2013 03:50,Glucose,82.0,mg/dL,labs,,normal
4327198,2B5cvf9qQMzS,12/17/2013 03:45,Glucose,80.0,mg/dL,labs,,normal
4327199,2B5cvf9qQMzS,12/18/2013 04:00,Glucose,75.0,mg/dL,labs,,normal
4327200,2B5cvf9qQMzS,12/19/2013 04:16,Glucose,90.0,mg/dL,labs,,normal
4327201,2B5cvf9qQMzS,12/20/2013 04:05,Glucose,91.0,mg/dL,labs,,normal
...,...,...,...,...,...,...,...,...
4394038,jToRi58PBT5n,07/09/2013 12:56,Glucose,150.0,mg/dL,labs,,diabetes
4394039,CCPiFVjcjyZM,03/07/2014 18:14,Glucose,135.0,mg/dL,labs,,diabetes
4394040,qEhY8BU0kz+O,02/06/2014 01:12,Glucose,330.0,mg/dL,labs,,diabetes
4394041,YNjQBud9vWUo,01/18/2014 13:25,Glucose,144.0,mg/dL,labs,,diabetes
4394042,Qt0bi90nju3y,12/29/2013 10:59,Glucose,89.0,mg/dL,labs,,normal
4394043,LED1e+iKUtX5,07/30/2013 13:42,Glucose,26.0,mg/dL,labs,,normal
4394044,qrOgLfiyXhPB,04/01/2014 17:27,Glucose,110.0,mg/dL,labs,,prediabetes
4394045,Snkf8t3LD9X7,11/17/2013 16:36,Glucose,112.0,mg/dL,labs,,prediabetes
4394046,kcGQ2WVkxt3o,01/16/2014 01:48,Glucose,234.0,mg/dL,labs,,diabetes
4394047,Zgltj5qUeIbu,06/24/2013 10:08,Glucose,536.0,mg/dL,labs,,diabetes
4394048,VFO35jSDveg5,07/18/2013 22:16,Glucose,86.0,mg/dL,labs,,normal
4394049,14GmNeykfpb1,03/25/2014 23:35,Glucose,147.0,mg/dL,labs,,diabetes
4394050,bTB0W6x4IeC3,05/11/2014 18:44,Glucose,148.0,mg/dL,labs,,diabetes
4394051,9fv3/5ooCPvR,09/30/2013 16:12,Glucose,106.0,mg/dL,labs,,prediabetes
4394052,UOuDHS12tbfI,11/26/2013 15:02,Glucose,147.0,mg/dL,labs,,diabetes
4394053,UOuDHS12tbfI,11/26/2013 16:17,Glucose,129.0,mg/dL,labs,,diabetes
4394054,2t4Z1ZWgC9dd,02/27/2014 21:50,Glucose,153.0,mg/dL,labs,,diabetes
4394055,PMiMNJ3zsGgk,03/31/2014 00:03,Glucose,135.0,mg/dL,labs,,diabetes
4394056,PMiMNJ3zsGgk,03/31/2014 00:15,Glucose,157.0,mg/dL,labs,,diabetes
4394057,n/zPxd/bHE2+,03/09/2014 07:48,Glucose,344.0,mg/dL,labs,,diabetes
4394058,Y4L6AmehN8Qr,01/07/2014 08:47,Glucose,275.0,mg/dL,labs,,diabetes
4394059,VJi7Dz1zR6cl,07/28/2013 00:39,Glucose,148.0,mg/dL,labs,,diabetes
4394060,fTAq1TDUg3TH,06/10/2013 16:45,Glucose,197.0,mg/dL,labs,,diabetes
4394061,+vjUGCQf1G57,05/13/2014 15:59,Glucose,141.0,mg/dL,labs,,diabetes
4394062,c1Ufr65xn0m9,09/10/2013 11:20,Glucose,153.0,mg/dL,labs,,diabetes
4394063,LBXJyPjDmyzK,04/23/2014 16:14,Glucose,93.0,mg/dL,labs,,normal
4394064,pHCCg83SgQ/k,06/25/2013 23:11,Glucose,213.0,mg/dL,labs,,diabetes
4394065,hrhCg+w6xMgi,03/05/2014 10:55,Glucose,282.0,mg/dL,labs,,diabetes
4394066,7Bwh0eRAIsW0,05/21/2014 21:20,Glucose,155.0,mg/dL,labs,,diabetes
4394067,WKPjcN525X5H,01/09/2014 23:25,Glucose,96.0,mg/dL,labs,,normal

In [10]:
# Save file with discretized event values
df.to_csv('sepsis_events_categories.csv')

In [14]:
df['event_name'].value_counts()

O2 Saturation                933498
Pulse                        908968
Respiratory Rate             787765
Systolic BP                  665662
Diastolic BP                 664535
Temperature Conversion       227040
Epinephrine                  213577
Norepinephrine               194485
Normal Saline                 92634
Sodium                        74657
Anion Gap                     73892
Potassium                     72892
CO2                           72681
Chloride                      72622
Creatinine                    71344
BUN                           71336
Glucose                       66896
Vasopressin                   55311
D5W                           53321
Magnesium                     52351
Phosphate                     46905
Phenylephrine                 38852
Piperacillin-Tazobactam       38389
Vancomycin                    35335
D5 Half Saline                33587
Lactate                       25617
Bilirubin                     25599
Lactated Ringers              25532
Albumin                       24740
PaCO2                         24007
Blood Gas pHa                 22611
Metronidazole                 22275
D10                           17761
Meropenem                     12587
PO2                            4125
PCO2 Arterial                  3924
Normal saline (for bolus)      3517
Half Saline                    3447
Levofloxacin                    481
Plasmalyte A (for bolus)        472
PCO2 Venous                     305
Name: event_name, dtype: int64

In [34]:
q = "event_name in ('O2 Saturation','Pulse', 'Respiratory Rate', 'Systolic BP','Diastolic BP','Temperature Conversion','Vasopressin','Epinephrine', 'Norepinephrine')"
df_sub = df.query(q)
df_sub['event_name'].value_counts()

O2 Saturation             933498
Pulse                     908968
Respiratory Rate          787765
Systolic BP               665662
Diastolic BP              664535
Temperature Conversion    227040
Epinephrine               213577
Norepinephrine            194485
Vasopressin                55311
Name: event_name, dtype: int64

In [35]:
# Result values need to be discretized here
# df.groupby(['event_name','result_val'])['result_val'].count()

# df.groupby(['event_name'])['event_name'].count()
#basket = df.groupby(['fin','event_name'])['event_name'].count().unstack().reset_index().fillna(0).set_index('fin')
basket = df_sub.groupby(['fin','event_name'])['event_name'].count().unstack().reset_index().fillna(0).set_index('fin')
basket.head()

event_name,Diastolic BP,Epinephrine,Norepinephrine,O2 Saturation,Pulse,Respiratory Rate,Systolic BP,Temperature Conversion,Vasopressin
fin,,,,,,,,,
+/wwoxFTiWTn,14.0,0.0,0.0,14.0,16.0,13.0,14.0,10.0,0.0
+0sUlZTDUJij,87.0,0.0,0.0,91.0,99.0,87.0,87.0,61.0,0.0
+16f+oeBrbDV,567.0,0.0,0.0,471.0,456.0,321.0,567.0,0.0,0.0
+1HeBTXSNHLh,817.0,212.0,212.0,827.0,832.0,497.0,817.0,75.0,177.0
+2hf8/i2b1dN,231.0,63.0,63.0,359.0,360.0,353.0,231.0,115.0,0.0

In [36]:
def encode_units(x):
    if x <= 0:
        return 0
    if x >= 1:
        return 1

basket_sets = basket.applymap(encode_units)
basket_sets.head()

event_name,Diastolic BP,Epinephrine,Norepinephrine,O2 Saturation,Pulse,Respiratory Rate,Systolic BP,Temperature Conversion,Vasopressin
fin,,,,,,,,,
+/wwoxFTiWTn,1,0,0,1,1,1,1,1,0
+0sUlZTDUJij,1,0,0,1,1,1,1,1,0
+16f+oeBrbDV,1,0,0,1,1,1,1,0,0
+1HeBTXSNHLh,1,1,1,1,1,1,1,1,1
+2hf8/i2b1dN,1,1,1,1,1,1,1,1,0

In [37]:
#basket_random = basket_sets.sample(1000)

frequent_itemsets = apriori(basket_sets, min_support=0.07, use_colnames=True)
frequent_itemsets.head()

    support          itemsets
0  0.998496    (Diastolic BP)
1  0.445113     (Epinephrine)
2  0.431830  (Norepinephrine)
3  1.000000   (O2 Saturation)
4  1.000000           (Pulse)

In [39]:
rules = association_rules(frequent_itemsets, metric="lift", min_threshold=1)
#rules.head()
rules.shape

(14934, 9)

In [40]:
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Diastolic BP),(O2 Saturation),0.998496,1.000000,0.998496,1.000000,1.000000,0.000000,inf
1,(O2 Saturation),(Diastolic BP),1.000000,0.998496,0.998496,0.998496,1.000000,0.000000,1.000000
2,(Pulse),(Diastolic BP),1.000000,0.998496,0.998496,0.998496,1.000000,0.000000,1.000000
3,(Diastolic BP),(Pulse),0.998496,1.000000,0.998496,1.000000,1.000000,0.000000,inf
4,(Diastolic BP),(Respiratory Rate),0.998496,1.000000,0.998496,1.000000,1.000000,0.000000,inf
5,(Respiratory Rate),(Diastolic BP),1.000000,0.998496,0.998496,0.998496,1.000000,0.000000,1.000000
6,(Systolic BP),(Diastolic BP),0.998747,0.998496,0.998496,0.999749,1.001255,0.001251,5.992481
7,(Diastolic BP),(Systolic BP),0.998496,0.998747,0.998496,1.000000,1.001255,0.001251,inf
8,(Epinephrine),(Norepinephrine),0.445113,0.431830,0.431830,0.970158,2.246622,0.239617,19.039069
9,(Norepinephrine),(Epinephrine),0.431830,0.445113,0.431830,1.000000,2.246622,0.239617,inf
10,(Epinephrine),(O2 Saturation),0.445113,1.000000,0.445113,1.000000,1.000000,0.000000,inf
11,(O2 Saturation),(Epinephrine),1.000000,0.445113,0.445113,0.445113,1.000000,0.000000,1.000000
12,(Pulse),(Epinephrine),1.000000,0.445113,0.445113,0.445113,1.000000,0.000000,1.000000
13,(Epinephrine),(Pulse),0.445113,1.000000,0.445113,1.000000,1.000000,0.000000,inf
14,(Epinephrine),(Respiratory Rate),0.445113,1.000000,0.445113,1.000000,1.000000,0.000000,inf
15,(Respiratory Rate),(Epinephrine),1.000000,0.445113,0.445113,0.445113,1.000000,0.000000,1.000000
16,(Temperature Conversion),(Epinephrine),0.985464,0.445113,0.440100,0.446592,1.003323,0.001458,1.002673
17,(Epinephrine),(Temperature Conversion),0.445113,0.985464,0.440100,0.988739,1.003323,0.001458,1.290827
18,(Vasopressin),(Epinephrine),0.209023,0.445113,0.200251,0.958034,2.152339,0.107212,13.222170
19,(Epinephrine),(Vasopressin),0.445113,0.209023,0.200251,0.449887,2.152339,0.107212,1.437846
20,(Norepinephrine),(O2 Saturation),0.431830,1.000000,0.431830,1.000000,1.000000,0.000000,inf
21,(O2 Saturation),(Norepinephrine),1.000000,0.431830,0.431830,0.431830,1.000000,0.000000,1.000000
22,(Pulse),(Norepinephrine),1.000000,0.431830,0.431830,0.431830,1.000000,0.000000,1.000000
23,(Norepinephrine),(Pulse),0.431830,1.000000,0.431830,1.000000,1.000000,0.000000,inf
24,(Norepinephrine),(Respiratory Rate),0.431830,1.000000,0.431830,1.000000,1.000000,0.000000,inf
25,(Respiratory Rate),(Norepinephrine),1.000000,0.431830,0.431830,0.431830,1.000000,0.000000,1.000000
26,(Temperature Conversion),(Norepinephrine),0.985464,0.431830,0.427068,0.433367,1.003561,0.001515,1.002714
27,(Norepinephrine),(Temperature Conversion),0.431830,0.985464,0.427068,0.988973,1.003561,0.001515,1.318217
28,(Vasopressin),(Norepinephrine),0.209023,0.431830,0.195990,0.937650,2.171342,0.105728,9.112580
29,(Norepinephrine),(Vasopressin),0.431830,0.209023,0.195990,0.453860,2.171342,0.105728,1.448304
...,...,...,...,...,...,...,...,...,...
14904,"(Vasopressin, Epinephrine)","(Temperature Conversion, Systolic BP, Respirat...",0.200251,0.426065,0.191980,0.958698,2.250121,0.106660,13.896180
14905,"(Epinephrine, O2 Saturation)","(Temperature Conversion, Systolic BP, Respirat...",0.445113,0.191980,0.191980,0.431306,2.246622,0.106527,1.420835
14906,"(Systolic BP, Respiratory Rate)","(Temperature Conversion, Epinephrine, Pulse, N...",0.998747,0.191980,0.191980,0.192221,1.001255,0.000241,1.000298
14907,"(Pulse, Systolic BP)","(Temperature Conversion, Epinephrine, Respirat...",0.998747,0.191980,0.191980,0.192221,1.001255,0.000241,1.000298
14908,"(Norepinephrine, Systolic BP)","(Temperature Conversion, Epinephrine, Respirat...",0.430827,0.196241,0.191980,0.445608,2.270722,0.107434,1.449803
14909,"(Vasopressin, Systolic BP)","(Temperature Conversion, Epinephrine, Respirat...",0.208020,0.426065,0.191980,0.922892,2.166081,0.103350,7.443217
14910,"(Systolic BP, O2 Saturation)","(Temperature Conversion, Epinephrine, Respirat...",0.998747,0.191980,0.191980,0.192221,1.001255,0.000241,1.000298
14911,"(Pulse, Respiratory Rate)","(Temperature Conversion, Epinephrine, Systolic...",1.000000,0.191980,0.191980,0.191980,1.000000,0.000000,1.000000
14912,"(Norepinephrine, Respiratory Rate)","(Temperature Conversion, Epinephrine, Systolic...",0.431830,0.196241,0.191980,0.444573,2.265451,0.107237,1.447103
14913,"(Diastolic BP, Respiratory Rate)","(Temperature Conversion, Epinephrine, Systolic...",0.998496,0.191980,0.191980,0.192269,1.001506,0.000289,1.000358
14914,"(Vasopressin, Respiratory Rate)","(Temperature Conversion, Epinephrine, Systolic...",0.209023,0.426065,0.191980,0.918465,2.155692,0.102923,7.039142
14915,"(O2 Saturation, Respiratory Rate)","(Temperature Conversion, Epinephrine, Systolic...",1.000000,0.191980,0.191980,0.191980,1.000000,0.000000,1.000000
14916,"(Pulse, Norepinephrine)","(Temperature Conversion, Epinephrine, Systolic...",0.431830,0.196241,0.191980,0.444573,2.265451,0.107237,1.447103
14917,"(Pulse, Diastolic BP)","(Temperature Conversion, Epinephrine, Systolic...",0.998496,0.191980,0.191980,0.192269,1.001506,0.000289,1.000358
14918,"(Pulse, Vasopressin)","(Temperature Conversion, Epinephrine, Systolic...",0.209023,0.426065,0.191980,0.918465,2.155692,0.102923,7.039142
14919,"(Pulse, O2 Saturation)","(Temperature Conversion, Epinephrine, Systolic...",1.000000,0.191980,0.191980,0.191980,1.000000,0.000000,1.000000
14920,"(Norepinephrine, Diastolic BP)","(Temperature Conversion, Epinephrine, Systolic...",0.430827,0.196241,0.191980,0.445608,2.270722,0.107434,1.449803
14921,"(Vasopressin, Norepinephrine)","(Temperature Conversion, Epinephrine, Systolic...",0.195990,0.439098,0.191980,0.979540,2.230801,0.105921,27.414098
14922,"(Norepinephrine, O2 Saturation)","(Temperature Conversion, Epinephrine, Systolic...",0.431830,0.196241,0.191980,0.444573,2.265451,0.107237,1.447103
14923,"(Vasopressin, Diastolic BP)","(Temperature Conversion, Epinephrine, Systolic...",0.208020,0.426065,0.191980,0.922892,2.166081,0.103350,7.443217
14924,"(Diastolic BP, O2 Saturation)","(Temperature Conversion, Epinephrine, Systolic...",0.998496,0.191980,0.191980,0.192269,1.001506,0.000289,1.000358
14925,"(Vasopressin, O2 Saturation)","(Temperature Conversion, Epinephrine, Systolic...",0.209023,0.426065,0.191980,0.918465,2.155692,0.102923,7.039142
14926,(Epinephrine),"(Temperature Conversion, Systolic BP, Respirat...",0.445113,0.191980,0.191980,0.431306,2.246622,0.106527,1.420835
14927,(Systolic BP),"(Temperature Conversion, Epinephrine, Respirat...",0.998747,0.191980,0.191980,0.192221,1.001255,0.000241,1.000298
14928,(Respiratory Rate),"(Temperature Conversion, Epinephrine, Systolic...",1.000000,0.191980,0.191980,0.191980,1.000000,0.000000,1.000000
14929,(Pulse),"(Temperature Conversion, Epinephrine, Systolic...",1.000000,0.191980,0.191980,0.191980,1.000000,0.000000,1.000000
14930,(Norepinephrine),"(Temperature Conversion, Epinephrine, Systolic...",0.431830,0.196241,0.191980,0.444573,2.265451,0.107237,1.447103
14931,(Diastolic BP),"(Temperature Conversion, Epinephrine, Systolic...",0.998496,0.191980,0.191980,0.192269,1.001506,0.000289,1.000358
14932,(Vasopressin),"(Temperature Conversion, Epinephrine, Systolic...",0.209023,0.426065,0.191980,0.918465,2.155692,0.102923,7.039142
14933,(O2 Saturation),"(Temperature Conversion, Epinephrine, Systolic...",1.000000,0.191980,0.191980,0.191980,1.000000,0.000000,1.000000