In [1]:
import mysql.connector as sql
import pandas as pd
import datetime

In [2]:
db_connection = sql.connect(host='localhost', database='benedict', user='root', password='artema2')

In [3]:
qry = "SELECT DISTINCT fin AS patientId FROM sepsis_case_events;"
df = pd.read_sql(qry, con=db_connection)

In [4]:
df.head()

      patientId
0  +/wwoxFTiWTn
1  +0sUlZTDUJij
2  +16f+oeBrbDV
3  +1HeBTXSNHLh
4  +2hf8/i2b1dN

In [5]:
df.shape

(3990, 1)

In [6]:
df.to_csv('sepsis_events_patients.csv')