In [8]:
import mysql.connector as sql
import pandas as pd
import datetime
import uuid

In [9]:
def convert_date_col(date_str):
    date_str = date_str[0:16]
    try:
        return datetime.datetime.strptime(date_str, '%m/%d/%Y %H:%M').strftime('%Y-%m-%dT%H:%M')
    except:
        return datetime.datetime.strptime(date_str, '%Y-%m-%d %H:%M').strftime('%Y-%m-%dT%H:%M')

In [10]:
db_connection = sql.connect(host='localhost', database='benedict', user='root', password='artema2')

In [11]:
patients = ['022aaa36-57b5-11e9-ad52-30582bd09167',
'0229e1a0-57b5-11e9-ad52-30582bd09167',
'022bc088-57b5-11e9-ad52-30582bd09167',
'022a2642-57b5-11e9-ad52-30582bd09167',
'022ad72c-57b5-11e9-ad52-30582bd09167',
'0229fc8a-57b5-11e9-ad52-30582bd09167',
'022be590-57b5-11e9-ad52-30582bd09167',
'022ae0aa-57b5-11e9-ad52-30582bd09167',
'0229b734-57b5-11e9-ad52-30582bd09167',
'0229c8b4-57b5-11e9-ad52-30582bd09167',
'022b8898-57b5-11e9-ad52-30582bd09167',
'022a924e-57b5-11e9-ad52-30582bd09167',
'022a2c6e-57b5-11e9-ad52-30582bd09167',
'022c345a-57b5-11e9-ad52-30582bd09167',
'022aeee2-57b5-11e9-ad52-30582bd09167',
'022a0c84-57b5-11e9-ad52-30582bd09167',
'022a1710-57b5-11e9-ad52-30582bd09167',
'022bfd3c-57b5-11e9-ad52-30582bd09167',
'022b78c6-57b5-11e9-ad52-30582bd09167',
'022bfdc8-57b5-11e9-ad52-30582bd09167',
'022a99ba-57b5-11e9-ad52-30582bd09167',
'022c21a4-57b5-11e9-ad52-30582bd09167',
'022b5940-57b5-11e9-ad52-30582bd09167',
'02299fe2-57b5-11e9-ad52-30582bd09167',
'022a1f62-57b5-11e9-ad52-30582bd09167',
'022b1a2a-57b5-11e9-ad52-30582bd09167',
'022bdeec-57b5-11e9-ad52-30582bd09167',
'022aadba-57b5-11e9-ad52-30582bd09167',
'022a933e-57b5-11e9-ad52-30582bd09167',
'0229ef4c-57b5-11e9-ad52-30582bd09167',
'022a0248-57b5-11e9-ad52-30582bd09167',
'022afe14-57b5-11e9-ad52-30582bd09167',
'022aedca-57b5-11e9-ad52-30582bd09167',
'0229ee52-57b5-11e9-ad52-30582bd09167',
'022af612-57b5-11e9-ad52-30582bd09167',
'022ad3bc-57b5-11e9-ad52-30582bd09167',
'022bfb7a-57b5-11e9-ad52-30582bd09167',
'022bf9ae-57b5-11e9-ad52-30582bd09167',
'0229f06e-57b5-11e9-ad52-30582bd09167',
'022b7bfa-57b5-11e9-ad52-30582bd09167',
'0229c0e4-57b5-11e9-ad52-30582bd09167',
'022b7c72-57b5-11e9-ad52-30582bd09167',
'022a1c06-57b5-11e9-ad52-30582bd09167',
'022adc22-57b5-11e9-ad52-30582bd09167',
'022bfbd4-57b5-11e9-ad52-30582bd09167',
'022bc132-57b5-11e9-ad52-30582bd09167',
'022b1458-57b5-11e9-ad52-30582bd09167',
'022ad3e4-57b5-11e9-ad52-30582bd09167',
'0229a67c-57b5-11e9-ad52-30582bd09167',
'022bb278-57b5-11e9-ad52-30582bd09167']

In [12]:
patients[0:10]

['022aaa36-57b5-11e9-ad52-30582bd09167',
 '0229e1a0-57b5-11e9-ad52-30582bd09167',
 '022bc088-57b5-11e9-ad52-30582bd09167',
 '022a2642-57b5-11e9-ad52-30582bd09167',
 '022ad72c-57b5-11e9-ad52-30582bd09167',
 '0229fc8a-57b5-11e9-ad52-30582bd09167',
 '022be590-57b5-11e9-ad52-30582bd09167',
 '022ae0aa-57b5-11e9-ad52-30582bd09167',
 '0229b734-57b5-11e9-ad52-30582bd09167',
 '0229c8b4-57b5-11e9-ad52-30582bd09167']

In [17]:
qry = "SELECT eventId, patientId, event_date  as eventDate, event_name AS eventName, result_val as resultValue, result_unit AS resultUnit, event_category AS eventCategory "
qry = qry + "FROM benedict.sepsis_case_events e JOIN benedict.sepsis_case_patients p ON e.fin = p.fin "
#qry = qry + "WHERE patientId IN (" + str(patients[0:10]).replace('[', '').replace(']', '') + ") "
qry = qry + " ORDER BY patientId, eventDate "
#qry = qry + "LIMIT 1000;"

print(qry)

SELECT eventId, patientId, event_date  as eventDate, event_name AS eventName, result_val as resultValue, result_unit AS resultUnit, event_category AS eventCategory FROM benedict.sepsis_case_events e JOIN benedict.sepsis_case_patients p ON e.fin = p.fin  ORDER BY patientId, eventDate

In [18]:
df = pd.read_sql(qry, con=db_connection)

In [19]:
df.shape

(6047543, 7)

In [20]:
df.head()

,eventId,patientId,eventDate,eventName,resultValue,resultUnit,eventCategory
0,cd4d6094-57b7-11e9-99cb-e51ddd026e24,02298368-57b5-11e9-ad52-30582bd09167,12/18/2013 12:57,Diastolic BP,99.0,mmHg,vitals
1,dc98c872-57b7-11e9-99cb-e51ddd026e24,02298368-57b5-11e9-ad52-30582bd09167,12/18/2013 12:57,O2 Saturation,98.0,%,vitals
2,ea8ef398-57b7-11e9-99cb-e51ddd026e24,02298368-57b5-11e9-ad52-30582bd09167,12/18/2013 12:57,Pulse,72.0,BPM,vitals
3,f877962c-57b7-11e9-99cb-e51ddd026e24,02298368-57b5-11e9-ad52-30582bd09167,12/18/2013 12:57,Respiratory Rate,18.0,RPM,vitals
4,026b509c-57b8-11e9-99cb-e51ddd026e24,02298368-57b5-11e9-ad52-30582bd09167,12/18/2013 12:57,Systolic BP,164.0,mmHg,vitals

In [21]:
df.shape

(6047543, 7)

In [22]:
df['eventDate'] = df['eventDate'].apply(lambda x: convert_date_col(x))

In [23]:
df.head()

,eventId,patientId,eventDate,eventName,resultValue,resultUnit,eventCategory
0,cd4d6094-57b7-11e9-99cb-e51ddd026e24,02298368-57b5-11e9-ad52-30582bd09167,2013-12-18T12:57,Diastolic BP,99.0,mmHg,vitals
1,dc98c872-57b7-11e9-99cb-e51ddd026e24,02298368-57b5-11e9-ad52-30582bd09167,2013-12-18T12:57,O2 Saturation,98.0,%,vitals
2,ea8ef398-57b7-11e9-99cb-e51ddd026e24,02298368-57b5-11e9-ad52-30582bd09167,2013-12-18T12:57,Pulse,72.0,BPM,vitals
3,f877962c-57b7-11e9-99cb-e51ddd026e24,02298368-57b5-11e9-ad52-30582bd09167,2013-12-18T12:57,Respiratory Rate,18.0,RPM,vitals
4,026b509c-57b8-11e9-99cb-e51ddd026e24,02298368-57b5-11e9-ad52-30582bd09167,2013-12-18T12:57,Systolic BP,164.0,mmHg,vitals

In [24]:
df.isnull().sum()

eventId          0
patientId        0
eventDate        0
eventName        0
resultValue      0
resultUnit       0
eventCategory    0
dtype: int64

In [25]:
df_pat = df['patientId'].value_counts().rename_axis('patientId').reset_index(name='counts')
#df_pat['patientId'] = [uuid.uuid4() for _ in range(len(df_pat.index))]
df_pat.head()

                              patientId  counts
0  022a0c84-57b5-11e9-ad52-30582bd09167   22060
1  022c4b70-57b5-11e9-ad52-30582bd09167   20587
2  022a7ad4-57b5-11e9-ad52-30582bd09167   19497
3  022a1ff8-57b5-11e9-ad52-30582bd09167   19245
4  022c172c-57b5-11e9-ad52-30582bd09167   19172

In [26]:
df.to_csv('sepsis_events_sorted.csv')
df_pat.to_csv('sepsis_events_patients.csv')

In [27]:
events = []
prev_event_id = ''
prev_pat_id = ''

for idx, row in df.iterrows():
    if prev_pat_id == row['patientId']:
        cur_event = [prev_event_id, row['eventId'], row['patientId']]
        events.append(cur_event)
    
    prev_event_id = row['eventId']
    prev_pat_id = row['patientId']
    
df_linked_events = pd.DataFrame(events)
df_linked_events.columns = ['prevEventId', 'eventId', 'patientId']
df_linked_events.head()

,prevEventId,eventId,patientId
0,cd4d6094-57b7-11e9-99cb-e51ddd026e24,dc98c872-57b7-11e9-99cb-e51ddd026e24,02298368-57b5-11e9-ad52-30582bd09167
1,dc98c872-57b7-11e9-99cb-e51ddd026e24,ea8ef398-57b7-11e9-99cb-e51ddd026e24,02298368-57b5-11e9-ad52-30582bd09167
2,ea8ef398-57b7-11e9-99cb-e51ddd026e24,f877962c-57b7-11e9-99cb-e51ddd026e24,02298368-57b5-11e9-ad52-30582bd09167
3,f877962c-57b7-11e9-99cb-e51ddd026e24,026b509c-57b8-11e9-99cb-e51ddd026e24,02298368-57b5-11e9-ad52-30582bd09167
4,026b509c-57b8-11e9-99cb-e51ddd026e24,15500ffe-57b8-11e9-99cb-e51ddd026e24,02298368-57b5-11e9-ad52-30582bd09167

In [28]:
df_linked_events.to_csv('sepsis_linked_events.csv')