In [1]:
import pandas as pd
import numpy as np
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

In [4]:
df = pd.read_csv("sepsis_events_categories.csv")
df.head()

/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3020: DtypeWarning: Columns (7,8) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Unnamed: 0,fin,event_date,event_name,result_val,result_unit,event_category,route,result_val_category
0,0,ZcCVvgGl2L0T,05/14/2014 05:56,Diastolic BP,87.0,mmHg,vitals,NaN,prehypertension
1,1,ZcCVvgGl2L0T,05/14/2014 07:08,Diastolic BP,67.0,mmHg,vitals,NaN,normal
2,2,ZcCVvgGl2L0T,05/14/2014 09:11,Diastolic BP,64.0,mmHg,vitals,NaN,normal
3,3,ZcCVvgGl2L0T,05/14/2014 09:44,Diastolic BP,78.0,mmHg,vitals,NaN,normal
4,4,ZcCVvgGl2L0T,05/14/2014 10:25,Diastolic BP,62.0,mmHg,vitals,NaN,normal

In [5]:
# Result values need to be discretized here
# df.groupby(['event_name','result_val'])['result_val'].count()

# df.groupby(['event_name'])['event_name'].count()
basket = df.groupby(['fin','event_name'])['event_name'].count().unstack().reset_index().fillna(0).set_index('fin')
basket.head()

event_name,Albumin,Anion Gap,BUN,Bilirubin,Blood Gas pHa,CO2,Chloride,Creatinine,D10,D5 Half Saline,...,Piperacillin-Tazobactam,Plasmalyte A (for bolus),Potassium,Pulse,Respiratory Rate,Sodium,Systolic BP,Temperature Conversion,Vancomycin,Vasopressin
fin,,,,,,,,,,,,,,,,,,,,,
+/wwoxFTiWTn,0.0,3.0,3.0,0.0,0.0,3.0,3.0,3.0,0.0,0.0,...,0.0,0.0,3.0,16.0,13.0,3.0,14.0,10.0,0.0,0.0
+0sUlZTDUJij,3.0,14.0,14.0,3.0,0.0,14.0,14.0,14.0,0.0,0.0,...,14.0,0.0,14.0,99.0,87.0,14.0,87.0,61.0,6.0,0.0
+16f+oeBrbDV,43.0,44.0,44.0,44.0,2.0,44.0,44.0,44.0,0.0,0.0,...,30.0,0.0,44.0,456.0,321.0,44.0,567.0,0.0,6.0,0.0
+1HeBTXSNHLh,0.0,33.0,33.0,0.0,19.0,33.0,33.0,33.0,0.0,0.0,...,0.0,1.0,33.0,832.0,497.0,33.0,817.0,75.0,21.0,177.0
+2hf8/i2b1dN,1.0,27.0,27.0,0.0,10.0,27.0,27.0,27.0,0.0,0.0,...,0.0,0.0,28.0,360.0,353.0,27.0,231.0,115.0,15.0,0.0

In [6]:
def encode_units(x):
    if x <= 0:
        return 0
    if x >= 1:
        return 1

basket_sets = basket.applymap(encode_units)

In [7]:
basket_random = basket_sets.sample(100)

frequent_itemsets = apriori(basket_random, min_support=0.07, use_colnames=True)
rules = association_rules(frequent_itemsets, metric="lift", min_threshold=1)
print(rules.head())

KeyboardInterrupt: