In [31]:
import mysql
import mysql.connector
import csv 
import requests 
import xml.etree.ElementTree as ET 
from xml.dom import minidom

In [37]:
mydb = mysql.connector.connect(
  host="127.0.0.1",
  user="modelpatient",
  passwd="modelPatient123@!@!"
)

In [42]:
def insert_dx(code, title):
    sql = "INSERT INTO modelpatient.diagnoses_codes (icd10_code, title) VALUES (%s, %s)"
    #print(sql)
    cursor = mydb.cursor()

    val = (code, title)
    cursor.execute(sql, val)

    mydb.commit()

In [43]:
#tree = ET.parse('icd10cm_index_2020.xml') 

#root = tree.getroot()
doc = minidom.parse('icd10cm_index_2020.xml')

In [44]:
items = doc.getElementsByTagName('mainTerm')
for subitem in items:
    title = subitem.getElementsByTagName('title')
    icd_code = subitem.getElementsByTagName('code')
    if len(icd_code) > 0:
        print(title[0].firstChild.nodeValue + ": " + icd_code[0].firstChild.nodeValue)
        insert_dx(title[0].firstChild.nodeValue, icd_code[0].firstChild.nodeValue)

DataError: 1406 (22001): Data too long for column 'icd10_code' at row 1